#poke-data {
    min-height: 342px;
    max-height: 342px;
    width: 470px;
    background-color: rgba(255,255,255,0.4);
    padding: 1rem;
    border: 2px solid lightgrey;
    border-radius: 1rem;
}

.card {
    max-height: 300px;
}

.card-header {
    width: inherit;
}

li {
    list-style: none;
}